.web_pp_wrap {
  max-width: 1200px;
  height: auto;
  padding: 0 60px 70px;
  margin: 0 auto 0;
  ul {
    li {
      margin-bottom: 45px;

      &.active {
        article {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
    .ex_box {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 110px;
      margin-bottom: 24px;
      .web_img {
        position: relative;
        width: 50%;
        min-height: 295px;
        object-fit: cover;
        z-index: 10;
      }

      article {
        opacity: 0;
        width: 50%;
        height: 295px;
        border-radius: 30px;
        background: rgb(143 143 143 / 61%);
        backdrop-filter: blur(12.5px);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 55px 20px;
        transform: translateX(calc(-100% - 110px));
        transition: transform ease-in-out 0.5s, opacity ease-in 0.5s 0.2s;
        h3,
        a {
          font-size: 2.4rem;
          color: rgb(255 255 255 / 35%);
          font-weight: 400;
          text-align: center;
          line-height: 2.8rem;
          &:not(a) {
            margin-bottom: 24px;
          }
        }
        .icon_img_wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          column-gap: 14px;
          h4 {
            font-size: 1.8rem;
            margin-bottom: 16px;
            padding: 0 12px 8px;
            color: rgba(255, 255, 255, 0.35);
            font-weight: 400;
            border-bottom: 1px solid rgb(255 255 255 / 35%);
            padding: 0 65px 8px;
          }
          .toolbox {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 14px;
          }
          span {
            display: inline-block;
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}

.fream_wrap {
  max-width: 1200px;
  width: 0;
  height: 0;
  opacity: 0;

  iframe {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 976px) {
  .web_pp_wrap {
    ul {
      li {
        margin-bottom: 24px;
        &.active {
          article {
            transform: translateY(0);
          }
        }
        &:last-child {
          margin-bottom: 80px;
        }
      }
      .ex_box {
        flex-direction: column;
        column-gap: 0;
        row-gap: 24px;
        margin-bottom: 0;
        .web_img {
          width: 100%;
          min-height: auto;
          height: auto;
          object-fit: contain;
        }

        article {
          width: 100%;
          height: 100%;
          transform: translateY(calc(-100% - 50px));
        }
      }
    }
  }
}
