.page_wrap {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: #fff;
  .temporary_header {
    width: 100%;
    min-height: 64px;
    height: auto;

    padding: 0 40px;
    display: flex;
    align-items: center;
    background: #000f1c;
    a {
      width: 32px;
      font-size: 1.4rem;
      font-weight: 500;
      color: #ddd;
      line-height: 2.2rem;
    }
    img {
      width: 32px;
      height: 32px;
    }
  }
}
