@import "../variables.scss";

.page_wrap {
  width: 100%;
  height: 100%;
  background: #fff;
  .temporary_header {
    width: 100%;
    min-height: 64px;
    height: auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    background: #000f1c;
    a {
      width: 32px;
      font-size: 1.4rem;
      font-weight: 500;
      color: #ddd;
      line-height: 2.2rem;
    }
    img {
      width: 32px;
      height: 32px;
    }
  }

  .info_wrap {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 80px;

    .top_box {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 60px;
      column-gap: 20px;
      border-bottom: 3px solid $color-primary;
      padding-bottom: 20px;
      .left_area {
        max-width: 510px;
        width: 100%;
        img {
          width: 200px;
          height: 100%;
        }
      }

      .right_area {
        max-width: 510px;
        width: 100%;
        h2 {
          font-size: 2.4rem;
          font-weight: 600;
          margin-bottom: 16px;
        }

        .info_box {
          .info {
            font-size: 1.8rem;
            font-weight: 400;
            color: $color-primary;
            word-break: keep-all;
            margin-bottom: 8px;
          }
          p {
            font-size: 1.4rem;
            font-weight: 400;
            color: $color-primary;
            line-height: 1.6rem;

            &:last-child {
              font-size: 1.2rem;
              margin-bottom: 40px;
            }
          }
        }

        article {
          margin-bottom: 24px;
          h3 {
            font-size: 1.6rem;
            font-weight: 600;
            color: $color-primary;
            margin-bottom: 8px;
          }
          li,
          p {
            font-size: 1.4rem;
            font-weight: 400;
            color: $color-primary;
            margin-bottom: 8px;
            line-height: 1.6rem;
          }

          ul {
            display: flex;
            li {
              margin-right: 4px;
            }
          }
          &.i_did {
            p {
              font-size: 1.2rem;
            }
          }
          &.tool {
            li {
              display: inline-block;
              width: 32px;
              height: 32px;
              background-size: contain;
              margin-right: 14px;
              &:last-child {
                margin-right: 0;
              }
            }
          }

          &.dev_env ul {
            display: flex;
            flex-direction: column;
          }
        }

        .felx_box {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          article {
            width: 33.3%;
          }
        }
      }
    }
  }

  .more_info {
    position: relative;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 24px;
    background: #f9f9f9;
    margin-bottom: 80px;
    h2 {
      font-size: 2rem;
    }
    iframe {
      width: 375px;
      height: 812px;
      border: 4px solid #000;
      border-radius: 24px;
    }

    .notice_wrap {
      position: absolute;
      left: 0;
      top: 84px;
      width: 100%;
      max-height: calc(100% - 124px);
      height: 100%;
    }

    .notice {
      position: absolute;
      left: calc(50% - 190px);
      top: calc(50% - 50px);
      width: 380px;
      background: #ffffff78;
      backdrop-filter: blur(6px);
      border-radius: 8px;

      p {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.8rem;
        word-break: keep-all;
        padding: 24px;
        text-align: center;
      }

      button {
        width: 100%;
        height: 40px;
        background: rgb(0 0 0 / 57%);
        font-size: 1.6rem;
        font-weight: 600;
        border: 1px solid #ddd;
        text-align: center;
        color: #fff;
        transition: background ease-in 0.3s;
        &:hover {
          background: rgb(0 0 0);
        }
      }
    }
  }
}

.swiper {
  width: 200px;
  height: 433px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  div {
    background: none;
  }
}

@media screen and (max-width: 1200px) {
  .page_wrap .info_wrap {
    // padding: 40px 20px;
    .top_box .right_area {
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .info_box {
        .info {
          line-height: 2rem;
        }
        p {
          text-align: center;
        }
      }

      h2,
      .info {
        text-align: center;
      }

      // .felx_box {
      //   justify-content: center;
      //   column-gap: 48px;
      //   article {
      //     width: auto;
      //   }
      // }
      .felx_box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 24px;
        article {
          width: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .page_wrap {
    .more_info {
      iframe {
        max-width: 375px;
        width: 100%;
        height: 812px;
        // border: none;
        border-radius: 24px;
      }
      .notice {
        left: calc(50% - 160px);
        width: 320px;
      }
    }
    .info_wrap {
      padding: 40px 0;
      .top_box {
        padding: 0 20px;
        .right_area {
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .felx_box {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 24px;
            article {
              width: auto;
            }
          }
        }
      }
    }
  }
}
