.app_pp_wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;
  margin-bottom: 85px;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 14px;
    li {
      position: relative;
      display: inline-block;
      width: auto;
      height: auto;
      margin-bottom: 65px;
      overflow: hidden;
      opacity: 0;
      transition: opacity cubic-bezier(0.24, 0.05, 0.84, 0.8) 0.3s;
      border-radius: 8px;
      img {
        width: 300px;
        height: 650px;
        object-fit: contain;
        background: #0f001c;
        object-position: top;
      }
      &.active_card {
        opacity: 1;
      }
    }
  }
}

.info_box {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 650px;
  background: rgb(255 255 255 / 70%);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(110deg);
  transform: rotate(110deg);
  backdrop-filter: blur(2px);
  transition: all ease-in 0.5s;

  &.active {
    -webkit-animation-name: openUpLeftReturn;
    animation: openUpLeftReturn 0.6s forwards;
  }
  h3 {
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 24px;
    color: #0f001cc7;
    text-align: center;
    word-break: keep-all;
    line-height: 2.8rem;
  }
  P {
    font-size: 1.8rem;
    font-weight: 500;
    color: #0f001cc7;
    margin-bottom: 34px;
    text-align: center;
    word-break: keep-all;
    line-height: 2.5rem;
  }
  .icon_img_wrap {
    margin-bottom: 24px;
    h4 {
      font-size: 1.8rem;
      margin-bottom: 16px;
      color: #0f001cc7;
      border-bottom: 1px solid #0f001cc7;
      padding: 0 12px 8px;
    }
    span {
      display: block;
      width: 100%;
      font-size: 1.2rem;
      margin-bottom: 24px;
      text-align: center;
    }
  }
  a {
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 26px;
    color: #0f001cc7;
    box-shadow: inset 0px -8px 0px 0px #eddd0087;
  }
  a {
    cursor: url(../../../public/images/click-cursor.png) 50 50, pointer;
  }
}

//강조별
.page_guide {
  position: absolute;
  top: -70px;
  left: -70px;
  background: rgb(15 0 28 / 71%);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 5px 42px;
  transform: rotate(-45deg);
  z-index: 99;
  .txt_guide {
    font-size: 1.6rem;
    font-weight: 500;
    color: #0f001cc7;
    transform: rotate(45deg);
  }
  .txt_star {
    display: inline-block;
    text-shadow: 2px 1px 4px #ffc239d6;
    color: #eddd00;
    font-size: 2.4rem;
    perspective: 800px;
    transition: transform ease-in-out 0.2s;
    animation: rotation-start 2s infinite ease-in-out both;
  }
}

//애니메이션
@keyframes rotation-start {
  0% {
    transform: scaleX(-1) rotate(0);
  }
  40% {
    transform: scaleX(-1.1) rotate(70deg);
  }

  80% {
    transform: scaleX(1.1) rotate(30deg);
  }
  100% {
    transform: scaleX(-1) rotate(0);
  }
}

//반응형
@media screen and (max-width: 1200px) {
  .app_pp_wrap {
    ul {
      li {
        img {
          width: 260px;
          height: 562px;
        }
      }
    }
  }

  .info_box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgb(255 255 255 / 70%);
    transition: all ease-in 0.5s;
  }

  .page_guide {
    top: -60px;
    left: -60px;
    padding: 4px 38px;
  }
}
@media screen and (max-width: 976px) {
  .app_pp_wrap {
    ul {
      li {
        img {
          width: 210px;
          height: 454px;
        }
      }
    }
  }
  .page_guide {
    top: -35px;
    left: -60px;
    padding: 4px 45px;
  }
}

@media screen and (max-width: 767px) {
  .app_pp_wrap {
    ul {
      justify-content: center;
      width: 100%;
      li {
        img {
          width: 250px;
          height: 541px;
        }
      }
    }
  }
  .page_guide {
    top: -55px;
    left: -60px;
    padding: 4px 42px;
  }
}

@media screen and (max-width: 560px) {
  .app_pp_wrap {
    ul {
      li {
        img {
          width: 200px;
          height: auto;
        }
      }
    }
  }
  .page_guide {
    top: -35px;
    left: -56px;
    padding: 4px 45px;
  }
}

@-webkit-keyframes openUpLeftReturn {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@keyframes openUpLeftReturn {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
